$active-background-color: rgba(206, 213, 231, 0.8);
$inactive-background-color: rgba(206, 213, 231, 0.2);
$border: 2px solid #9b9b9e;
$accent-color: darken(hsl(358,64,73), 8%);
$main-font-color: hsl(16,64,92);
$active-font-color: darken(hsl(358,64,73), 8%);

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/images/background-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: space-between;
  color: $main-font-color;

  .header-div-1 {
    display: flex;
    margin-left: 23px;
  }

    h1 {
      font-size: 40px;
      margin: 5px;
      padding-top: 5px;
    }

    img {
      height: 50px;
      margin: 5px;
    }

  .header-div-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

    h2 {
      margin: 10px 25px 3px 0;

      span {
        color: $accent-color;
    }
  }
}

.tabs-nav {
  display: flex;
  width: 60%;
  height: 43px;

  li {
    background: $inactive-background-color;
    border-radius: 5px 5px 0 0;
    display: block;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    text-align: center;
    width: 100%;
    border: 1px solid grey;
    border-bottom: none;
    height: 100%;
    margin: 0 4px 0 0;

      a {
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        height: 100%;
        padding: 5px 0;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
 
      &:hover {
        color: $active-font-color;
      }
    }
  }
} 

.tabs-content {
  background-color: $active-background-color;
  border-radius: 0 6px 6px 6px;
  border-top: 0;
  clear: both;
  height: 80vh;
  padding: 30px;
  position: relative;
}

//Main Tab

#main {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todays-stats {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: rgba(206, 213, 231, 0.8);
  border: 2px solid #9b9b9e;
  border-radius: 5px;
  width: 23%;
  align-content: space-evenly;
  padding: 10px;

    h3 {
      text-align: center;
      font-weight: 700;
      background-color: $active-font-color;
      border-radius: 5px;
      height: 30px;
      padding: 5px;
    }

    container {
      margin: 20px;
      text-align: center;
      border: 2px solid $active-font-color;
      border-radius: 5px;
      padding: 25px;
      
      span {
        font-size: 38px;
        color: $active-font-color;
        font-weight: 700;
        padding-top: 10px;
      }
    }
}

.revenue-chart,
.occupancy-chart {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  background: $active-background-color;
  margin: 20px;
  border: $border;
  border-radius: 5px;
  padding: 15px;
  width: 35%;
  justify-content: center;

    p {
      margin-bottom: 20px;
      text-align: center;
      font-weight: 700;
      background-color: $active-font-color;
      border-radius: 5px;
      height: 30px;
      padding: 5px;
    }
}


//Guest Tab

.form {
  background: $active-background-color;
  border-radius: 5px;
  border: $border;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 50%;

    p {
      font-size: 18px;
      font-weight: 500;
      margin: 10px;
    }

    .message {
      color: $active-font-color;
    }

    label {
      margin-left: 10px;
    }

    input {
      border: none;
      border-radius: 4px;
      font-size: 16px;
      height: 30px;
      margin: 10px;
      width: 200px;
      padding-left: 5px;
    }

    button {
      background-color: $accent-color;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      height: 35px;
      margin: 10px;
      width: 200px;

    &:hover {
      background: hsla(0,0,43, 0.2);
      color: $accent-color;
      box-shadow: inset 0 0 0 3px $accent-color;
    }
  }
}

.guest-bill {
  background: $active-background-color;
  border-radius: 5px;
  border: $border;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 50%;
  height: 225px;

  .guest-bill-header {
    border-bottom: 2px solid #d84f54;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    button {
      background-color: $accent-color;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      height: 35px;
      width: 175px;

      &:hover {
        background: hsla(0,0,43, 0.2);
        color: $accent-color;
        box-shadow: inset 0 0 0 3px $accent-color;
      }
    }
  }  
}

.guest-bill-info {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-evenly;
  
  .container-guest-bill {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    h4 {
      font-size: 18px;
      text-align: left;
    }
  
    span {
      border-radius: 5px;
      border: $border;
      width: 155px;
      height: 75px;
    }
  }
}
  
//Order Tab

.orders-tab {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 95%;

  section {
    display: flex;
    flex-direction: column;
    background: $active-background-color;
    border-radius: 5px;
    border: $border;
    width: 23%;
    padding: 10px;
    align-content: space-evenly;

    p {
      text-align: center;
      font-weight: 700;
      background-color: $active-font-color;
      border-radius: 5px;
      height: 30px;
      padding: 5px;
    }
  }

  ul {
    display:flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
  }

  li {
    display:flex;
    flex-direction: row;
  }
}

.all-orders {
  background: $active-background-color;
  border-radius: 5px;
  border: $border;
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  margin: 10px 0 10px 0;
  margin: 10px 10px 35px 10px;
  margin: 10px;
  padding: 10px;
  padding: 8px;

  li {

    h6 {
      border: 2px solid $active-font-color;
      font-size: 16px;
      margin-bottom: 8px;
      padding: 10px;
      border-radius: 5px;
    }
  } 
}

.container-search-orders {
  background: $active-background-color;
  margin: 10px 10px 35px 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  border: $border;

  label {
    margin-left: 10px;
  }

  input {
    border-radius: 4px;
    border: none;
    font-size: 16px;
    height: 30px;
    margin: 10px;
    padding-left: 5px;
  }

  button {
    background-color: $accent-color;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    height: 35px;
    margin: 10px;

    &:hover {
      background: hsla(0,0,43, 0.2);
      box-shadow: inset 0 0 0 3px $accent-color;
      color: $accent-color;
    }
  }
}

#search-orders-date {
    
  h5 {
  background-color: #d84f54;
  border-radius: 5px;
  font-weight: 700;
  height: 30px;
  padding: 5px;
  text-align: center;
  }
}

#search-orders {

  h3 {

    h5 {
    font-size: 18px;
    text-align: center;
    }
  }

  li {
    background: $active-background-color;
    border-radius: 5px;
    border: 2px solid $active-font-color;
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    margin: 25px 0 15px 0;
    padding: 10px;

    h6 {
    font-size: 16px;
    padding: 10px;
    }
  }
}

.list-menu-items {
  border-radius: 5px;
  font-size: 16px;
  height: 35px;
  margin: 15px 10px;
}

#btn-order-food {
  background-color: $accent-color;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  height: 35px;
  margin: 10px;

  &:hover {
    background: hsla(0,0,43, 0.2);
    box-shadow: inset 0 0 0 3px $accent-color;
    color: $accent-color;
  }
} 

.list-order-history {
  border-radius: 5px;
  border: $border;
  height: 300px;
  list-style-type: none;
  margin: 10px 0 10px 0;
  padding: 10px;

  li {

    h6 {
      font-size: 16px;
      padding: 10px;
      border: 2px solid $active-font-color;
      border-radius: 5px;
      font-size: 16px;
      margin-bottom: 8px;
      padding: 10px;
    }
  }
}

.order-charges {
  border-radius: 5px;
  border: $border;
  height: 100px;
  margin: 10px 0 10px 0;
  padding: 30px;

  h6 {
    font-size: 32px;
    text-align: center;
    padding: 10px;
  }
}

.tabs {
  padding: 5px 20px 0 20px;
} 

  .tab-active li {
    background-color: $active-background-color;
  }

  .tab-active a {
    background-color: $active-background-color;
    border-radius: 5px 5px 0 0;
    color: $accent-color;
    cursor: pointer;
    height: 100%;
  }

  // Room Tab

#rooms {
  display:flex;
  flex-direction: row;
  height: 95%;
  justify-content: space-between;

  section {
    align-content: space-between;
    background: $active-background-color;
    border-radius: 5px;
    border: $border;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 23%;
  }

     p {
      background-color: $active-font-color;
      border-radius: 5px;
      font-weight: 700;
      height: 30px;
      padding: 5px;
      text-align: center;
    }

  ul {
    background: $active-background-color;
    border-radius: 5px;
    border: $border;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
    margin: 10px 0 10px 0;
    margin: 10px 10px 0 10px;
    overflow:hidden;
    overflow-y: scroll;
    padding: 10px;

    li {

      h6 {
        border: 2px solid $active-font-color;
        font-size: 16px;
        margin-bottom: 8px;
        padding: 10px;
      }
    }
  } 
}

#room-stats{
  background: $active-background-color;
  border: $border;

  p {
    background-color: initial;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    background-color: $active-font-color;
  }

  container {
      margin: 20px;
      text-align: center;
      border: 2px solid $active-font-color;
      border-radius: 5px;
      padding: 25px;
      
    h4 {
      font-size: 18px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

#most-popular-date,
#least-popular-date {
  font-size: 30px;
  color: $active-font-color;
  font-weight: 700;
  padding-top: 10px;
}

.search-for-rooms {
  display: flex;
  flex-direction: column;

  input {
    border-radius: 4px;
    border: none;
    font-size: 16px;
    height: 30px;
    margin: 10px;
    padding-left: 5px;
  }

  select {
    border-radius: 5px;
    font-size: 16px;
    height: 35px;
    margin: 15px 10px;
  }

  button {
    background-color: $accent-color;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    height: 35px;
    margin: 10px;

    &:hover {
      background: hsla(0,0,43, 0.2);
      box-shadow: inset 0 0 0 3px $accent-color;
      color: $accent-color;
    }
  }
}



