$background-color: rgba(206, 213, 231, 0.5);
$border: 2px solid #9b9b9e;
$button-color: hsl(358,64,73);

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/images/background-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  // background-position: center;
}

header {
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: space-between;

  .header-div-1 {
    display: flex;
    margin-left: 23px;
  }

    h1 {
      color: #ffffff;
      font-size: 40px;
      margin: 5px;
      padding-top: 5px;
    }

    img {
      height: 50px;
      margin: 5px;
    }

  .header-div-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

    h2 {
      margin: 10px 15px 3px 0;
    }
}

.tab-active {
  background: #D3D3D3;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  color: #2db34a;
  cursor: default;
}

.tabs {
  padding: 5px 20px 0 20px;;
  
  li {
    background: $background-color;
    border-radius: 6px 6px 0 0;
    border: $border;
    display: block;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    padding: 10px 0;
    text-align: center;
    width: 100%;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        color: #ff7b29;
      }
    }
  }
} 

ul {
  display: flex;
  width: 50%;
}

.tabs-content {
  // background-color: #D3D3D3;
  background-color: $background-color;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  border: $border;
  clear: both;
  height: 75vh;
  padding: 24px 30px;
  position: relative;
  top: -1px;
}

.form {
  background: $background-color;
  border: $border;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 50%;

    p {
      font-size: 18px;
      font-weight: 500;
      margin: 10px;
    }

    label {
      margin-left: 10px;
    }
    input {
      font-size: 16px;
      height: 30px;
      margin: 10px;
      width: 200px;
    }

    button {
      background-color: $button-color;
      font-size: 16px;
      height: 30px;
      margin: 10px;
      width: 200px;
    }

}



